<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {% include 'nav_li_profile.html' %}
            <li id="index">
               <a href="/"><i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
               <ul class="nav nav-second-level">
               </ul>
            </li>
            <!--<li id="juser">-->
                <!--<a href="#"><i class="fa fa-group"></i> <span class="nav-label">终端管理</span><span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
									<!--<li class="group"><a href="/terminal_list">终端机</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>

    </div>
</nav>

