<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1">
    <title>List dir</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css"/>

    <script src="../../static/js/jquery-2.1.1.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <style type="text/css">
        .table-hover > tbody > tr:hover {
            background-color: #D2D2D2;
        }

        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #fff;
        }

        .tool-area {
            margin-top: 10px;
        }

        .search-area {
            float: left;
            margin-left: 15px;
            width: 20%;
        }

        .button-area {
            text-align: center;
        }

        .clear-float {
            clear: both;
        }

        .content-area {
            width: 100%;
            margin-top: 20px;
        }

        .tree-area {
            margin-left: 15px;
            float: left;
            width: 20%;
            height: 500px;
            overflow-y: scroll;
        }

        .table-area {
            float: left;
            width: 75%;
            margin-left:10px;
        }
    </style>
</head>

<body>
<div id='err_msg' class="alert alert-danger" role="alert" style="display:none;"></div>
<div>
    <div class="tool-area">
        <div class="search-area">
            <input id="search" type="text"/>
            <button id="btn_search" type="button" class="btn btn-primary">查找</button>
        </div>
    </div>
    <div class="button-area">
        <button id="btn_rename" class="btn btn-primary">改名</button>
        <button id="btn_view" class="btn btn-primary" data-toggle="modal" data-target="#file_viewer_modal">查看</button>
        <button id="btn_delete" class="btn btn-danger">删除</button>
        <button id="btn_upload" class="btn btn-primary" data-toggle="modal" data-target="#upload_modal">上传</button>
        <!--<button id="btn_upload" class="btn btn-primary">上传</button>-->
        <button id="btn_download" class="btn btn-primary">下载</button>
    </div>
    <div class="clear-float"></div>
</div>
<div id="wrapper" class="content-area">
    <div class="tree-area">
        <div id="dir_tree"></div>
    </div>
    <div id="file_list" class="table-area">
        <table id="file_tbl" data-striped="true" data-pagination="true" data-height="500"
               data-search="true" data-search-on-enter-key="false" data-click-to-select="true" class="bootstrap-table">
        </table>
    </div>
    <div class="clear-float"></div>
    <!--{%if not error%}-->
    <!--{%end%}-->
</div>
<div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>上传文件&hellip;</p>
            </div>
            <div class="modal-footer">
                <form id="upload_form" enctype="multipart/form-data">
                    <input id="upload_file" name="upload_file" type="file" class="btn btn-default"/>
                    <button id="btn_upload_exec" type="button" class="btn btn-primary">上传</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <div class="progress">
        <div id="upload_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;"></div>
    </div>
</div><!-- /.modal -->

<!--file viewer modal-->
<div class="modal fade" id="file_viewer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id ="file_viewer_content" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <div class="progress">
        <div id="upload_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;"></div>
    </div>
</div><!-- /.modal -->



<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css"/>
<link rel="stylesheet" href="../../static/css/bootstrap-table.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
<script src="../../static/js/bootstrap-table.min.js"></script>
<script src="../../static/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">

    wid = "wid"+guid();

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                s4() + '-' + s4() + s4() + s4();
    }
    ws_host = "{{ws_host}}";
    function start_ws()
    {
        if ("WebSocket" in window)
        {
            var ws = new WebSocket("ws://"+ws_host+"/ws");

            ws.onopen = function()
            {
                // Web Socket is connected, send data using send()
                ws.send(btoa(JSON.stringify({"cmd":"reg", "wid":wid})));
            };

            ws.onmessage = function (evt)
            {
                var msg = evt.data;
                console.log('received ws msg:')
                console.log(msg)
                var obj = JSON.parse(atob(msg))
                console.log('received base64 decode msg:')
                console.log(obj)

                if(obj.cmd == 'download') {
                    var url = obj.param
                    //下载
                    window.location = url;
                }
                else if(obj.cmd == 'view'){
                    //查看
                    var result = obj.param.result
                    if(!result) {
                        //$('#err_msg').alert('不是文本文件不能查看');
                        $('#file_viewer_content').val("不是文本文件不能查看");
                    }
                    else{
                        var html = $("<div>");
                        for(var i=0;i<obj.param.content.length;i++)
                        {
                            html.append($("<p>").text(obj.param.content[i]));
                        }
                        $('#file_viewer_content').append(html);
                    }
                }

            };

            ws.onclose = function()
            {
                // websocket is closed.
                console.log("Connection is closed...");
                setTimeout(null,3000);
                start_ws();
            };
        }

        else
        {
            // The browser doesn't support WebSocket
            alert("WebSocket NOT supported by your Browser!");
        }
    }
    $(function(){
        start_ws()
    })


    $(function(){
        $('#btn_view').click(function(){
            var selected = getSelections('#file_tbl');
            if(selected.length>1){
                alert('一次只能看一个文件')
            }
            else if(selected){
                var tid = "{{tid}}"
                $.ajax({
                    type: 'POST',
                    url: '/file_view',
                    contentType: "application/json",
                    data: JSON.stringify({tid: tid,
                        wid: wid,
                        path: selected[0]
                    }),
                    cache: false,
                    dataType: "JSON",
                    success: function (data) {
                        console.log('ajax success data is :')
                        console.log(data)
                        if (data.result == true) {
                            console.log('request view success')
                        }
                        else {
                            $('#err_msg').innerText = data.msg;
                            //$().alert()
                        }
                    },
                    error: function (status, err) {
                        console.log('ajax error')
                        console.log(status)
                        console.log(err)
                    }
                })
            }
            else{
                alert('请选择要下载的文件')
            }
        })
    })

    $(function(){
        $('#btn_download').click(function(){
            var selected = getSelections('#file_tbl');
            if(selected){
                var tid = "{{tid}}"
                $.ajax({
                    type: 'POST',
                    url: '/file_download',
                    contentType: "application/json",
                    data: JSON.stringify({tid: tid,
                        wid: wid,
                        paths: selected
                    }),
                    cache: false,
                    dataType: "JSON",
                    success: function (data) {
                        console.log('ajax success data is :')
                        console.log(data)
                        if (data.result == true) {
                            console.log('request download success')
                        }
                        else {
                            $('#err_msg').innerText = data.msg;
                            //$().alert()
                        }
                    },
                    error: function (status, err) {
                        console.log('ajax error')
                        console.log(status)
                        console.log(err)
                    }
                })
            }
            else{
                alert('请选择要下载的文件')
            }
        })
    })

    var _fileListDict = {}
    var _selected_dir = null
    $(function () {
        $('#btn_upload_exec').click(function (evt, data) {
            var formData = new FormData($('#upload_form')[0]);
            var tid = "{{tid}}"
            $.ajax({
                url: 'web_upload?tid='+tid+'&path='+encodeURIComponent(_selected_dir),  //Server script to process data
                type: 'POST',
                xhr: function () {  // Custom XMLHttpRequest
                    var uploadXhr = $.ajaxSettings.xhr();
                    if (uploadXhr.upload) { // Check if upload property exists
                        uploadXhr.upload.addEventListener('upload_progress', progressHandlingFunction, false); // For handling the progress of the upload
                    }
                    return uploadXhr;
                },
                //Ajax events
                success: function () {
                    alert('上传完成')
                },
                error: function () {
                    alert('上传错误，请重试')
                },
                // Form data
                data: formData,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false
            });
        });

        $('#dir_tree').jstree({
            'core': {
                "data": get_file_list
            }
        });

        $('#dir_tree').on('changed.jstree', function (e, data) {
            console.log("the selected node is")
            console.log(data.selected)
            console.log("data print")
            console.log(data)
            var selectedList = [];
            if (data.selected.length > 0) {
                _selected_dir = data.selected[0];
                if (data.selected[0] in _fileListDict) {
                    selectedList = _fileListDict[data.selected[0]]
                    buildHtmlTable("#file_tbl", selectedList)
                }
                else {
                    //no cached data
                    get_file_list(data.node, function () {
                    }, null, function (file_list) {
                        buildHtmlTable("#file_tbl", file_list)
                    })
                }
            }
            else {
                //unselected
                _selected_dir = null;
            }
        });

        $('#dir_tree').on('open_node.jstree', function (evt, node) {
            var opened_id = node.node.id
            console.log('the opened_id is:')
            console.log(opened_id)
            var instance = $(this).jstree(true)
            instance.deselect_all()
            instance.select_node(opened_id)
        });

        $('#file_tbl').on('click-row.bs.table',function(e,row,$element){
            $('.success').removeClass('success');
            $($element).addClass('success');
        });

        $('#btn_search').click(function (evt, data) {
            var searchPattern = $('#search').val()
            if (searchPattern) {
                if (_selected_dir != null) {
                    get_file_list({'id': _selected_dir}, function () {
                    }, searchPattern, function (file_list) {
                        buildHtmlTable("#file_tbl", file_list)
                    })
                } else {
                    //todo: not working
                    //$('#err_msg').alert('请选搜索的目录')
                }
            }
            else {
                //todo: not working
                //$('#err_msg').alert('请输入搜索内容')
            }

        });

        $('#btn_view').click(function(){
            var fileArray = getSelections("#file_tbl");
        });

    });

    function progressHandlingFunction(e) {
        if (e.lengthComputable) {
            $('#upload_progress').css('width', e.loaded + '%').attr('aria-valuenow', e.loaded);
        }
    }


    function get_file_list(node, cb, search_pattern, callback) {
        search_pattern = typeof search_pattern !== 'undefined' ? search_pattern : null
        callback = typeof callback !== 'undefined' ? callback : null
        var tid = "{{tid}}"
        console.log(tid)

        if (node.id === '#') {

            console.log('get_file_list')
            console.log('cb')
            cb([{"text": "C:\\", "id": "C:\\", "children": true}, {"text": "D:\\", "id": "D:\\", "children": true}]);
        }
        else {
            $.ajax({
                type: 'Get',
                url: '/dir_tree',
                data: {
                    'tid': tid,
                    'id': encodeURIComponent(node.id),
                    'pattern': search_pattern ? encodeURIComponent(search_pattern) : null
                },
                cache: false,
                dataType: "json",
                success: function (data) {
                    console.log('ajax success data is :')
                    console.log(data)
                    if (data.result == true) {
                        //handle dir
                        arr = []
                        for (var i = 0, len = data.data.dir_list.length; i < len; i++) {
                            var r = data.data.dir_list[i]
                            arr.push({
                                'id': decodeURIComponent(r.full_name),
                                'text': decodeURIComponent(r.name),
                                'children': true,
                                'data': r.file_list
                            })

                            console.log('arr is :');
                            console.log(arr);
                        }
                        cb(arr)
                        //如果不是搜索结果
                        if (!search_pattern)
                        //把文件列表缓存起来
                            _fileListDict[node.id] = data.data.file_list;
                    }
                    else {
                        $('#err_msg').innerText = data.msg;
                        //$().alert()
                    }

                    //有渲染文件列表的回调
                    if (callback)
                        callback(data.data.file_list);
                },
                error: function (status, err) {
                    console.log('ajax error')
                    console.log(status)
                    console.log(err)
                }
            })
        }
    }

    function getSelections(selector){
        var fullNameArray = new Array();
        var selections = $(selector).bootstrapTable('getSelections');
        if(selections.length!=0){
            $.each(selections,function(index,item){
                fullNameArray[index]=item.full_name;
            });
        }
        return fullNameArray;
    }

    // Builds the HTML Table out of list.
    function buildHtmlTable(selector, list) {
        $(selector).bootstrapTable('destroy').bootstrapTable({
            columns:[{
                field:'state',
                checkbox:true
            },{
                field:'name',
                title:'文件名',
                sortable:true
            },{
                field:'full_name',
                title:'全路径',
            },{
                field:'size',
                title:'大小',
                sortable:true
            },{
                field:'create_date',
                title:'创建时间',
                sortable:true
            },{
                field:'update_date',
                title:'更新时间',
                sortable:true
            }],
            data:list
        });
    }
</script>
</body>
</html>
